@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    background-color: rgb(243, 220, 190);
    height: 500px; 
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(177, 66, 66, 0.1);
}

.main-container h2 {
    text-align: center;
    font-size: 2rem;
    color: rgb(76, 75, 75);
}

.main-container img {
    width: 80px; 
    height: 80px;
}

.registerProcess {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 15px;
}

.registerProcess .input-item {
    height: 35px;
    width: 450px;
    border-radius: 5px;
    border: none;
    padding-left: 36px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.registerProcess img {
    position: absolute;
    left: 12px;
    margin-top: 5px;
    height: 25px;
    width: 25px;
}

.registerProcess .img {
    margin-left: 225px;
}

.name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
}

.name-container .input-item {
    width: 222px; 
}

.registerProcess p {
    margin-top: 5px;
    color: rgb(79, 78, 78);
    font-size: 1rem;
}

.registerProcess a {
    margin-top: none;
    color: #237fbd;
    font-size: 1rem;
}

.registerProcess a:hover {
    color: #3498db;
}

.btn {
    width: 450px;
    height: 35px;
    background-color: #3498db;
    margin-top: 8px;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #237fbd;
}

.btn:active {
    transform: scale(0.98); 
    background-color: #2980b9;
}